MONGODB_URI=YOUR_MONGODB_URI
FRONTEND_URL=http://localhost:5173
EMAIL_USER=YOUR_EMAIL_USER
EMAIL_PASS=YOUR_EMAIL_PASS
JWT_SECRET=YOUR_JWT_SECRET
NODE_ENV=development | production
PORT=3000 | 5000 | 8000 | 8080
JUDGE0_URL=YOUR_JUDGE0_URL
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
BACKEND_URL=http://localhost:3000
GITHUB_CLIENT_ID=YOUR_GITHUB_CLIENT_ID
GITHUB_CLIENT_SECRET=YOUR_GITHUB_CLIENT_SECRET
CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_API_SECRET
GRAPHQL_URL=YOUR_GRAPHQL_URL
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
FRONTEND_URI=localhost:5173